[Unit]
Description=Auto-mount USB storage (usb-automount feature)
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/usb-automount.sh
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
